/* ============== index.css ============== */
/* index.html의 css파일 */

@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: '맑은 고딕', '돋움', sans-serif;
    font-size: 12px;
    color: #444444;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

ul {
    text-align: left;
    list-style: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #444444;
}

.clear {
    clear: both;
}

/* header 시작 */

header {
    width: 100%;
    margin: 0 auto;
}

#top {
    border: 1px solid black;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    vertical-align: middle;
}

#logo { float: left; }
#logo_img { height: 50px; }

#top_menu {
    float: right;
    text-align: right;
    line-height: 50px;
}
#top_menu a {
    font-size: 11px;
    color: #888888;
}
#top_menu li {
    display: inline;
    margin-left: 10px;
}
#member_img { width: 40px; }

#main_menu {
    float: left;
    text-align: left;
}
#main_menu ul {
    width: 990px;
    margin: auto;
    text-align: center;
}
#main_menu li {
    display: inline;
    margin: 10 100px;
    color: black;
}
#main_menu a {
    color: black;
}
#main_menu a:hover, a:active {
    color: rgba(247, 104, 0, 0.57);
}

/* header 끝 */
/* section 시작 */

#main {
    width: 1000px;
    margin: auto;
}

/* 카테고리1 */
#category1 {
    margin-top: 100px;
    font-weight: bold;
    padding: 12px;
    color: #ffffff;
    text-align: center;
}

#category1_carousel {
    margin: 0;
    padding: 0;
    text-align: center;
}
#cimg_1 { width: 100%; }

#category1_menu {
    border: 1px solid black;
}
#category1_menu ul {
    text-align: center;
}
#category1_menu li {
    display: inline-block;
    float: left;
    color: rgba( 174, 113, 249, 0.457 );
    border: 1px solid black;
    margin: 50px;
    padding: 30px;
}
section section #category1_menu li img {
    width: 50px;
}

/* 카테고리2 */
#category2 {
    margin-top: 250px;
}

#category2_travel {
    height: 70px;
    width: 100%;
    margin: 50px;
}

section section div h3 {
    float: left;
    font-size: 20px;
    
}
section section div .item{
    display: inline-block;
    text-align: center;
    margin: 10px;
}
section section div .item img {
    flex: 1;
    width: 200px;
    border-radius: 10px;
}
section section div .item .title{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
    background-color: rgba(244, 169, 168, 0.8);
}
section section div .item .comment{
    margin: 10px;
    color: #888888;
}

#category2_travel_img {
    width: 1000px;
    text-align: center;
}
#category2_travel_img img { width: 100%; }

/* section 끝 */
/* footer 시작 */

footer {
    height: 700px;
    margin-top:  50px;
}

#footer_menu_box {
    height: 400px;
    background-color: #F4A9A8;
}

#footer_menu {
    width: 990px;
    margin: auto;
    padding: 30px;
}
#footer_menu ul {
    float: left;
    padding: 50px;
}
#footer_menu li {
    padding: 5px;
    color: #ffffff;
}
#footer_menu .title {
    padding: 5px;
    color: #ffffff;
}
#footer_menu a {
    color: #ffffff;
    text-decoration: none;
}

#footer_menu a:hover, a:active {
    color: rgba(247, 104, 0, 0.57);
    text-decoration: none;
}

#menu_box {
    width: 990px;
    margin: 40px;
}
#menu_box div {
    padding: 20px;
    margin: 10px;
    float: left;
}
#menu_box div li {
    float: left;
    display: inline-block;
    padding-left: 30px;
}

/* footer 끝 */