/* ============== login.css ============== */
/* login.jsp의 css파일 */

@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
    font-family: '맑은 고딕', '돋움', sans-serif;
    font-size: 12px;
    color: #444444;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    text-align: left;
    list-style: none;
}
li {
    display: inline;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #444444;
}

.clear { clear: both; }
.bdright { border-right: 1px solid #aaaaaa; }
.hidden { display: none; }

form { display: block; }
fieldset {
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0;
}

/* header 시작 */

header {
    width: 100%;
    margin: 0 auto;
}

#top {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    vertical-align: middle;
}

#logo {
    float: left;
    padding: 30px 10px 30px 40px;
}
#logo_img { height: 40px; }

#main_menu {
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: black;
    line-height: 120px;
    text-align: left;
}
#main_menu ul { height: 100px; }
#main_menu li { padding-left: 40px; }
#main_menu li:hover a {
    color: #4C7DBD;
    border-bottom: 2px solid #4C7DBD;
}

#top_menu {
    float: right;
    font-size: 12px;
    color: #888888;
    line-height: 20px;
    text-align: right;
    padding: 30px;
}
#top_menu li {
    padding: 0 10px;
    vertical-align: top;
}
#top_menu li:hover a {
    color: black;
    font-weight: bold;
}
#member { padding: 0; }
#member_img { width: 40px; }

#navi {
    width: 1000px;
    height: 24px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    padding-left: 100px;
    background-color: lightgray;
}
#navi ul { height: 26px; }
#navi li {
    vertical-align: middle;
    padding-right: 10px;
    color: #888888;
}
#navi li a:hover {
    color: black;
}
#navi img { width: 20px; }

/* header 끝 */
/* section 시작 */

#main {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 70px;
}
#main h3 {
    font-size: 25px;
    text-align: left;
    margin-bottom: 30px;
}

#login_form {
    max-width: 340px;
    clear: both;
    display: block;
    float: left;
    text-align: left;
}
#id_area { position: relative; }
#pw_area { position: relative; }

.input_row {
    margin: 7px auto;
    width: 340px;
    height: 38px;
    box-shadow: 0.3px 0.3px 2px 0.3px lightgray inset;
    border: solid 1px #CECECE;
    border-radius: 3px;
    background-color: white;
}
.input_row .img {
    width: 38px;
    height: 38px;
    float: left;
    box-shadow: 0.3px 0.3px 2px 0.3px lightgray inset;
    border-radius: 3px 0 0 3px;
    background-color: #ECECEC;
}
.input_row img {
    width: 23px;
    padding: 7.5px;
    text-align: center;
    vertical-align: middle;
}

.input_box {
    height: 38px;
    float: left;
    display: inline;
    overflow: hidden;
}
.input_box #id {
    width: 290px;
    height: 38px;
    padding: 0 0 0 10px;
    font-size: 14px;
    outline: none;
    border: none;
    background: white;
}
.input_box #pw {
    width: 290px;
    height: 38px;
    padding: 0 0 0 10px;
    font-size: 14px;
    outline: none;
    border: none;
    background: white;
}

#etc_area {
    width: 340px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 10px;
}
#etc_area #linkbox {
    float: left;
    display: inline;
}
#etc_area #linkbox li {
    padding: 0 6px 0 0;
    vertical-align: top;
}
#etc_area #linkbox li a { color: #2967B9; }
#etc_area #linkbox li:hover a {
    color: black;
}
#etc_area #checkbox {
    display: inline;
    float: right;
}

#submit_area {
    float: left;
    width: 93px;
    height: 124px;
    line-height: 124px;
    margin: 6px 0 0 10px;
    border-radius: 5px;
    background-color: #2967B9;
}
#submit_area input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 15.5px;
    color: white;
    border: none;
    background-color: transparent;
}

#signup_btn {
    width: 450px;
    height: 46px;
    font-size: 15.5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5E5E5E;
}

/* section 끝 */
/* footer 시작 */
/* footer_menu_box 시작 */

footer { margin-top: 170px; }
#footer_menu_box {
    height: 320px;
    overflow: hidden;
    background-color: #F2F2F2;
}

#footer_menu ul {
    float: left;
    padding: 50px;
}
#footer_menu li {
    display: block;
    line-height: 30px;
    font-size: 16px;
}
#footer_menu .footer_title {
    font-weight: bolder;
    margin-bottom: 7px;
    font-size: 18px;
}

/* footer_menu_box 끝 */
/* menu_box 시작 */

#menu_box {
    margin-top: 40px;
    height: 250px;
    display: inline-block;
    text-align: left;
}
#left_menu_box {
    float: left;
    width: 620px;
    height: 230px;
}

#left_menu_box_top {
    height: 60px;
    font-size: 15px;
    padding: 0 30px;
}
#left_menu_box_top li {
    font-size: 15px;
    padding: 10px 25px;
}

#left_menu_box_bottom {
    height: 130px;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}
#right_menu_box {
    float: left;
    width: 300px;
    height: 130px;
    padding: 60px 40px;
}
#right_menu_box li {
    display: block;
    line-height: 20px;
    font-size: 14px;
}
#right_menu_box b { font-size: 21px; }

/* menu_box 끝 */
/* footer 끝 */