@charset "UTF-8";

#navi {
    width: 1000px;
    height: 24px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 5px 7px 100px;
    background-color: lightgray;
}
#navi ul { height: 26px; }
#navi li {
    vertical-align: middle;
    padding-right: 10px;
    color: #888888;
}
#navi li a:hover {
    color: black;
}
#navi img { width: 20px; }

#category1 {
	
    font-size: 15px;
    font-weight: 600;
    color: black;
    line-height: 100px;
}
#category1 h3 {
    font-size: 25px;
}
#category1 ul {	
	text-align: center;
    height: 100px;
}
#category1 ul li {    
    padding-left: 40px;
}

#category2_title {
    width: 940px;
    height: 100px;
    line-height: 50px;
    margin: 0 20px;
    padding: 10px;
    border: 1px solid rgba(32, 104, 143, 0.5);
    color: white;
    background-color: rgba(32, 104, 143, 0.5);;}
#category2_title h3 {
    font-size: 25px;
    text-align: left;
}
#category2_title h4 {
    font-size: 15px;
    text-align: left;
}

#category2_travel {
    border: 1px solid #eee;
    background-color: #eee;
    margin-bottom: 150px;
}
#category2_travel .items {
    height: 280px;
    display: inline-block;
    text-align: center;
    padding: 7px;
    margin-top: 20px;
}
#category2_travel .items img {
    width: 250px;
}
#category2_travel .itemp {
    z-index: 1;
    position: relative;
    height: 100px;
    top: -92px;
    left: 0px;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.5);
}
